@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

:root {
    --nav: 
}


body{
    font-family: 'Inter', Arial, Helvetica, sans-serif;  
    font-size: 10px;
    text-align: center;
    min-height: 100vh; /*sem essa altura total da janela voce não consegue alinhar os elementos no centro da tela, por exemplo*/ 

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* O main agora controla o layout dos cards */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

article.card {
    box-shadow: 10px 10px 10px rgba(20, 5, 5, 0.304);
    border-radius: 10px; /* usado aqui para arredondar os vértices do conteiner de uma vez só */
    overflow: hidden; /* Tudo o que passar do tamanho do contêiner é invisível. */
    margin: 10px;
  
    transition: transform 0.3s ease; /* transição de 0.3 segundos */
}

img {
    /* evita que a imagem seja distorcida, melhor do que max-width e max-height */
   /* width: 180px;
    object-fit: cover;*/

    width: 100%;       /* Ocupa toda a largura do card */
    height: 150px;     /* Força todas a terem a mesma altura */
    object-fit: cover; /* Faz o corte inteligente para não distorcer */
    display: block;
}

h1{
    padding: 10px;
    padding-bottom: 5px;
}

h2 {
    color: rgb(168, 161, 161);
    padding-bottom: 5px;
}

span {
    font-size: 17px;
    display: block;
}

button {
    font-size: 17px;
    background-color: rgb(19, 125, 232);
    color: white;
    margin: 5px;
    margin-bottom: 15px;
    padding: 5px;
    width: 170px;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgba(19, 126, 232, 0.74);
}

article.card:hover {
    transform: translateY(-5px); /* O card "sobe" 5 pixels */ 
}