@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    font-family: 'Sriracha', sans-serif;
    color: black;
    margin: 0px;
}

header {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > h1 {
    font-family: 'Passion One', sans-serif;
    text-align: center;
    color: white;
}

header > p {
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
    
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: 'Pasion One', sans-serif;
}

a:hover {
    text-decoration: underline;
}

pre {
    font-family: 'Sriracha', sans-serif;
}

.imagem-1 {
    background: white url(imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;

    color: white;
}

.imagem-2 {
    background: white url(imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;

    color: white; 
}

 .caixa-flor {

}

.caixa-carta {

}

footer {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}