@charset "UTF-8" ;

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    font-family: 'Sriracha', sans-serif;
    color: black;
    margin: 0px;
    
    

}

header {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

header > h1 {
    font-family: 'Passion One', sans-serif;
    text-align: center;
    color: white;
}

header > p {
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
    
}

header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: 'Pasion One', sans-serif;
}

a:hover {
    text-decoration: underline;
}

.normal {
    margin-top: 40px;
    margin-bottom: 50px;
    padding-right: 50px;
    line-height: 1.8;
}

.parallax {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: flex-start;
    width: 100%; 
    margin-right: 10px;

}

.imagem-1 {background-image: url('imagens/background001.jpg');
}

.imagem-2 {background-image: url('imagens/background002.jpg');}

 .caixa-flor {
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.337);
    max-width: 700px;
    color: white;
    border-radius: 4px;
    padding: 15px;
}

.caixa-carta {
    color: white;
    background-color: rgba(0, 0, 0, 0.479);
    padding: 40px;
    border-radius: 4px;
    border-left: 10px;
    max-width: 700px;
     padding: 15px;

   
    
}

footer {
    background-color: black;
    font-family: Verdana, sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: Verdana, sans-serif;
}